* {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3D5873;
}

.container {
    width: 100%;
    height: 100vh;
}

.container .backBtn {
    width: 100%;
}
.container .backBtn button {
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid black;
}
.container .backBtn button img {
    height: 35px;
}

.container .notepadContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
}
.container .notepadContainer .notepad {
    height: 80%;
    width: 30%;
    background-color: #FDF6E4;
    border: 20px solid #8C5D93;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .notepadContainer .notepad .hole {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
}
.container .notepadContainer .notepad .hole .hole1,
.container .notepadContainer .notepad .hole .hole2 {
    height: 50px;
    width: 50px;
    background-color: rgb(65, 65, 65);
    border-radius: 50%;
}
.container .notepadContainer .notepad .metal {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: -120px;
}
.container .notepadContainer .notepad .metal .metal1,
.container .notepadContainer .notepad .metal .metal2 {
    height: 100px;
    width: 25px;
    background-color: #728198;
    border-radius: 100px;
}
.container .notepadContainer .notepad .shine {
    display: flex;
    width: 85%;
    gap: 92%;
    margin-top: -70px;
    margin-bottom: 20%;
}
.container .notepadContainer .notepad .shine .shine1,
.container .notepadContainer .notepad .shine .shine2 {
    height: 30px;
    width: 10px;
    background-color: #D9D9D9;
    border-radius: 100px;
}
.container .notepadContainer .notepad .difficulty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.container .notepadContainer .notepad button {
    width: 300px;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #548B7E;
}
.container .notepadContainer .notepad .difficulty button:active {
    transform: scale(0.95);
}
.container .notepadContainer .notepad .difficulty .easy button {
    background-color: #548B7E;
}
.container .notepadContainer .notepad .difficulty .normal button {
    background-color: #B97C7C;
}
.container .notepadContainer .notepad .difficulty .hard button {
    background-color: #C97D5D;
}

/*Design for how to play button*/
.container .notepadContainer .notepad .difficulty .howToPlayBtn  button{
    background-color: rgb(106, 106, 172);
}
.container .notepadContainer .notepad .gameMechanics {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid black;
}
.container .notepadContainer .notepad .gameMechanics .header {
    font-size: 40px;
    margin-bottom: 20px;
}
.container .notepadContainer .notepad .gameMechanics p, li {
    font-size: 25px;
    margin-bottom: 10px;
}
.container .notepadContainer .notepad .gameMechanics button {
    font-size: 30px;
    width: 100%;
    background-color: #3D5873;
}

@media screen and (max-width: 1000px) {
    .container .backBtn button img {
        height: 20px;
    }
    .container .notepadContainer .notepad {
        width: 50%;
    }

    /*Design for how to play button*/
    .container .notepadContainer .notepad .gameMechanics .header {
        font-size: 35px;
    }
    .container .notepadContainer .notepad .gameMechanics p, li {
        font-size: 20px;
    }
    .container .notepadContainer .notepad .gameMechanics button {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    .container .notepadContainer .notepad {
        width: 80%;
        border: 15px solid #8C5D93;
        margin-top: 20px;
    }
}

@media screen and (max-width: 450px) {
    .container .notepadContainer .notepad {
        width: 80%;
    }

    .container .notepadContainer .notepad .hole .hole1,
    .container .notepadContainer .notepad .hole .hole2 {
        height: 30px;
        width: 30px;
    }
    .container .notepadContainer .notepad .metal {
        margin-top: -90px;
    }
    .container .notepadContainer .notepad .metal .metal1,
    .container .notepadContainer .notepad .metal .metal2 {
        height: 80px;
        width: 15px;
    }
    .container .notepadContainer .notepad .shine {
        width: 85%;
        gap: 93%;
        margin-top: -60px;
        margin-bottom: 20%;
    }
    .container .notepadContainer .notepad .shine .shine1,
    .container .notepadContainer .notepad .shine .shine2 {
        height: 35px;
        width: 5px;
        background-color: #D9D9D9;
        border-radius: 100px;
    }

    .container .notepadContainer .notepad button {
        width: 150px;
        padding: 10px 20px;
        font-size: 25px;
    }
}
